@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100%;
}
input,
button {
  @apply border rounded-[4px] bg-white p-[4px];
}
button {
  @apply justify-self-end text-[#fff] !bg-[#41C9E2];
}
form {
  @apply grid gap-4;
}
